CoolProxy/CoolProxyRegistry/CoolProxy.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wafriv.de/tatoo_webservice/wsdl.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x1="http://wafriv.de/tatoo_webservice/wsdl.php/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TatooWebserviceDefinition" targetNamespace="http://wafriv.de/tatoo_webservice/wsdl.php" xmlns:schn="http://wafriv.de/tatoo_webservice/wsdl.php/types/">
	<types>
		<xsd:schema xmlns="http://wafriv.de/tatoo_webservice/wsdl.php/types/" targetNamespace="http://wafriv.de/tatoo_webservice/wsdl.php/types/">
			<xsd:complexType name="CoolRequestBody">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CoolMeResponseBody">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string"/>
					<xsd:element name="data" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="CoolRequestBody" type="schn:CoolRequestBody" />
			<xsd:element name="CoolMeResponseBody" type="schn:CoolMeResponseBody" />
		</xsd:schema>
	</types>
	<message name="gameUploadRequest">
		<part name="name" element="schn:CoolRequestBody"> </part>
	</message>
	<message name="gameUploadResponse">
		<part name="response" element="schn:CoolMeResponseBody"> </part>
	</message>
	<portType name="TatooWebservicePortType">
		<operation name="gameUpload">
			<input message="tns:gameUploadRequest"> </input>
			<output message="tns:gameUploadResponse"> </output>
		</operation>
	</portType>
	<binding name="TatooWebserviceBinding" type="tns:TatooWebservicePortType">
		<soap:binding style="Document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="gameUpload">
			<soap:operation soapAction="urn:gameUpload"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="TatooWebservice">
		<documentation>WSDL for the tatoo webservice 1.0.1</documentation>
		<port name="TatooWebservicePort" binding="tns:TatooWebserviceBinding">
			<soap:address location="http://DESKTOP-9E4487G:8290/services/ProxyService"/>
		</port>
	</service>
</definitions>